        <div class="modal__popup__login" id="modalAddNewCalendar">
          <div class="main_login">
            <div class="block_entering_profile">
              <button class="close_popup_packet_btn">
                <a href="#" style="text-decoration: none;">X</a>
              </button>
              <form class="block_form_registration" method="post"
              id="form_add_calendar_user_">
                <h1 class="header_authorisation">Add Calendar</h1>
                <div class="input_block_login">
                  <label for="id_first_name">Token: </label>
                  <input type="text" id="id_token" placeholder="Введите token" name="token" class="input_registration_form"
                  value="" required>
                </div>
                <div class="input_block_login">
                  <button class="registration_btn btn btn-outline-primary" type="submit" id="btn_submit_form_registration">Add</button>
                </div>
              </form>
            </div>
          </div>
        </div>
