        <div class="modal__popup__login" id="modalLogin">
          <div class="main_login">
            <div class="block_entering_profile">
              <button class="close_popup_packet_btn">
                <a href="#" style="text-decoration: none;">X</a>
              </button>
              <form class="block_login_form" method="post" id="form_login__users">
                <h1 class="header_authorisation">Authorization</h1>

                <div class="input_block_login">
                  <label for="id_username">Email: </label>
                  <input type="text" id="id_username" placeholder="Введите почту" name="username" required>
                </div>
                <div class="input_block_login">
                  <label for="id_password">Password: </label>
                  <input type="password" id="id_password" placeholder="Введите пароль" name="password"
                        required>
                </div>
                <div class="input_block_login block_login">
                  <button class="registration_btn btn btn-outline-primary" id="login_form_submit" type="submit">
                      Войти
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>